@import './colors.less';
@import './pages/login.less';
@import './pages/home.less';
@import './pages//taskDetail.less';
@import './components/navBar';
:root{
     font-family: "Montserrat", sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  background: #1a1d2e; // ✨ Mismo color base
  overflow-x: hidden;
}